@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(208, 208, 218);
  --background: linear-gradient(
    90deg,
    rgba(208, 208, 218, 1) 0%,
    rgba(0, 163, 196, 1) 50%,
    rgba(164, 164, 227, 1) 100%
  );
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(208, 208, 218);
    --background: linear-gradient(
      90deg,
      rgba(208, 208, 218, 1) 0%,
      rgba(0, 163, 196, 1) 50%,
      rgba(164, 164, 227, 1) 100%
    );
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
